.card{
  width: 18rem;
  margin: 15px;
  text-align: center;
}
.info{
  margin-left: 20%;
  margin-top: 70px;

}
.forminfo{
  margin-left: 20%;
  margin-top: 70px;
}
.button{
  background-color: lightcoral;
  color: white;
  border: none;
  margin-left: 20px;
}
